.strategy_Form {
    padding-left: 5em;
    padding-top: 3em;
    padding-right: 5em;
    padding-bottom: 3em;
}

.selectedSite {
    height: 400px;
    width: 650px;
    position: fixed;
    top: 40%;
    left: 60%;
}

.strategyFormTitle {
    margin: auto;
    width: 50%;
    padding: 10px;
    padding-left: 500px;
}

.siteSelection{
    height: 400px;
    width: 650px;
    position: fixed;
    top: 35%;
    left: 60%;
}

.operatorSelection {
    height: 100%;
    width: 450px;
    position: fixed;
    top:45;
    padding-top: 40px;
    padding-left: 10%;
}

.operatorSelectionText {
    padding-bottom: 1em;
}

.selectedMap {
    height: 200px;
    width: 350px;
    padding-left: 10%;

}

.opIcon {
    height: 50px;
    width: 50px;
}

.mapSelection {
    position: fixed;
    top: 05%;
    left: 50%;
    
}

.roleDescription {
    position: fixed;
    top: 35em;
    padding-left: 10%
}

.operatorRole {
    padding-left: 5%;
    width: 450px;
    display: flex;
    
}

.roleText {
    width: 350px
}

.h2 {
    position: fixed;
    top: 05%;
    left: 50%;
}

.saveButton {
    position: fixed;
    bottom: 3em;
    right: 5em;
    height: 55px;
    width: 165px;
}

