.h3 {
    text-align: center;
}

.selectedOpsCollection {
        width: 650px;
        position: fixed;
        top: 28%;
        padding-left: 2em;
        background-color: grey;
        opacity: 80;
        justify-content: center;
    }

    .mapName {
        text-align: center;
        font-size: 45px;
    }